.breadcrumbs {
    display: flex;
    padding: 42px 0;  // 42px по макету, 
    align-items: center;

    &_item {
        text-transform: capitalize;
        font-size: 15px;
        color: $main-text-color;
    }

    &_link {
        display: block;
        text-decoration: none;
        color: #bec9cf;
        position: relative;
        padding-right: 24px;

        &:before {
            content: '\f105';
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $main-color;
          }
    }
}