.irs{
  
    &--round{
        height: 80px;

        .irs-bar{
            background-color: #37474f;
            height: 5px;
        }

        .irs-handle{
            border-color: $main-color;
            width: 18px;
            height: 18px;
            top: 29px;
            cursor: grab;
        }

        .irs-line{
            height: 5px;
            background-color: #f2f5f8;
        }

        .irs-from,
        .irs-to,
        .irs-single{
            top: 50px;
            background-color: transparent;
            color: #78909c;
            font-size: 15px;
            padding-top: 8px;

            &:before{
                display: none;
            }
        }
    }   
}

.upload_main{
    background-color: $background_color;
    padding-bottom: 110px;
}

.form{
    background-color: $white;
    border: 1px solid $form-border-color;

    &_title {
        border-bottom: 1px solid $form-border-color;
        color: $black;
        padding: 20px 30px;
        line-height: 1;
        //color: $input-text-color;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;

        
    }

    &_main{
        padding: 40px 45px;
    }
    
    &_row{

        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }

    &_row{
        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }

    &_block{
        display: flex;

        &.required{

            .form_label{

                &:after{
                    content: '*';
                }
            }
        }
    }

    &_label{
        min-width: 175px;
        padding: 5px 5px 0 0;
        text-transform: capitalize;

        &:after{
            color: $main-color;
            font-size: 24px;
            line-height: 1;
        }
    }

    &_input{
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        width: 100%;
        margin: 0;
        padding: 10px 35px 10px 15px;
        font-size: 15px;
        line-height: 1.32em;
        position: relative;
        z-index: 2;

        &-holder{
            flex-grow: 1;
            background-color: $input-body-bg;
            border: 1px solid $input-border-color;
            padding: 10px 15px;
            position: relative;
            color:#828282;
            &:after{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: #4444;
          }
        }
    }

    &_select{
        width: 100%;
        -webkit-appearance: none;
        appearance: none;

        &::-ms-expand{
            display: none;
        }

        &-holder{

            &:after{
                content: '\f0d7';
                font: 14px 'FontAwesome';
            }
        }
    }

    &_textarea{
        resize: none;
        min-height: 148px;
        width: 100%;
        overflow: hidden; 
    }

    &_file{
        padding: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &-fake{
            width: 90px;
            height: 25px;
            position: relative;
            border: 1px solid $input-border-color;
            background-color: $white;
            text-transform: capitalize;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-size: 12px;
        }

        &-val{
            font-size: 12px;
            color: #707070;
        }

        &-holder{
            padding: 6px 10px;
        }
    }
}

.submit_button{
    
        font-family: $f-family-base;
        font-size: 12px;
        width: 100%;
        max-width:124px;
        color: $white;
        background-color:$main-color;
        border: none;
        height: 46px;
        text-align: center;
        margin-left: 220px;
        margin-bottom: 50px;

}