.irs {
    height: 50px;

    
    &--round {
        

        .irs_bar {
        background-color: #fff;
        }

        .irs_handle {
            background-color: $main-color;
            width: 18px;
            height: 18px;
            top: 29px;
            cursor: grab;
        }

        .irs_line {
            height: 5px;
            background-color: #f2f5f8;
        }
        .irs-from,
        .irs-to,
        .irs-single {
            top: 50px;
            background-color: transparent;
            color: #78909c;
            font-size: 15px;
            padding-top: 8px;

            &:before {
                display: none;
            }

        }
    }
}