/* Header */

/* Белая полоса с самого верха */
.header_top{
  background-color: $white;
  min-height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }

  .fix-for-phone{
   display: flex;   
  }

  .header_top--fix{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
  }

  .logo{
    height: 40px;
    width: 140px;
    background: url(/images/logo.png);
    display: block;
  }

  .header_top_rigth{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .text--red{
      color: $red;
    }
    
    .btn--login{
      background-color: $main-color;
      margin-left: 26px;
      border: none;
      outline: none;
    }
    
    .btn--register{
      background-color: $red;
      margin-left: 7px; 
      border: none;
      outline: none;
    }
    
    .btn--circle{
      min-width: 35px;
      height: 35px;
      background-color: #f5f5f5;
      border-radius: 50%;
      margin-left: 16px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $f-size-base;
      color: #a0a0a0;
    }
    .btn--circle:first-of-type{
      margin-left: 26px;
    }
    .btn--circle::before{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      margin-top: -15px;
      margin-left: 9px;
      z-index: 1;
      text-align: center;
      padding-top: 1px;
      color:white;
      }  
      
      .btn--circle:nth-child(1){
        &::before {
        content:'8';
        background-color: $red;
        }
      }
      .btn--circle:nth-child(2){
        &::before{
        content:'5';
        background-color: $orange;
        }
      }
      .btn--circle:nth-child(3){
        &::before{
        content:'8';
        background-color: #95c85a;
        }
      }
  }

  @media (max-width: 479px){

    .header_top_rigth{
      display: block;
      margin: 0 auto;
    }
    
    .header_top--fix{
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      flex-wrap: wrap;
      margin-top: 5px;
      
    }
    .text--top{
      padding: 5px 0;
      justify-content: center;
     }
    
    .fix-for-phone{
      padding: 5px 0;
      justify-content: center;
    }
    
    .logo--forphone{
      margin: 5px auto ;
      }
  }

.popup{
  display:flex;
  justify-content: center;

  .container_popup{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  &_close{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 28px;
    color:white;
  }
  
  .window_login_popup{
    position: relative;
    max-width: 730px;
    width: 100%;
    background-color: $main-color;
    
    .mfp-close{
      
      &::before{
        content: '\f00d';
        font: 24px 'FontAwesome';
        color:white;
      }
    }

    input{
      border-style: none;
      padding: 15px 0;
      margin: 4px 0;
    }

    .span_in_input{
      position: relative;
      text-align: center;
      
      input{
      max-width: 400px;
      width: 100%;
      padding-left: 40px;
      background-color: #76ae36;
      }

      input::placeholder{
      font-family: $f-family-base;
      color: white;
      font-weight: 500;
      font-size: 14px;
      }
      
      span{
        position: absolute;
        margin: auto 0;
        margin-top: 15px;
        margin-left: 17px;
        color: white;
      }
    }
  }

  &_main_text{
      font-family: $f-family-base;
      font-size: 48px;
      font-weight: 700;
      color: white;
      line-height: 30px;
      color: $white;
      text-align: center;
      padding-top: 57px;
      padding-bottom: 40px;
  }

  &_two_buttons{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;

    .span_in_input{
      position: relative;

      span{
        position: absolute;
      }

      .fa-pencil-square-o{
        padding-left: 18px;
      }

      .btn--create{
        height: 48px;
        width: 250px;
        background-color: #76ae36;
        border-style: none;
        font-family: $f-family-base;
        color: white;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .btn--submit{
      background-color: white;
      width: 140px;
      height: 48px;
      border-style: none;
      box-shadow: 1px 2px 0 #53951f;
      font-family: $f-family-base;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }

  .popup_text{
    padding-top: 27px;
    padding-bottom: 114px;
    font-family: $f-family-base;
    color: white;
    font-weight: 500;
    font-size: 14px;
  }
}

/* Синяя полоса навигации */
.header_nav{
  background-color: #263238;
  height: 60px;
  
  .navigation{
    margin-left: 100px;

     ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-top: 17px;

       li{
         padding-right: 40px;
          
         .nav-item{
          font-family: $f-family-base;
          font-size: $f-size-base;
          font-weight: 500;
         }
       }
     }   
  }

  .nav-togle{
    display: none;
  }

  @media (max-width: 479px) {

      #container_mobile{
        display: flex;
        padding-top: 14px;
        justify-content: flex-end;
         position: relative;
      }

    
   /* Three lines of menu */
  
    .nav-togle{
      display: block;
      position: relative;
      height: 30px;
      width: 30px;
      padding: 0;
      margin: 0;
      border: none;
      background-color: $product-name_color;

      &::before,
      &::after{
        content: '';
        transition: transform .3s;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: white;
      }

      &::before{
        top: 0;  
      }
      &::after{
        top: 28px;
      }
  
      span 
      {
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: white;
        top: 14px;
      }

      /* Animation to press menu */
      &.active::before{
        transform: rotate(45deg);
        top: 14px;
      }
      
      &.active::after{
        transform: rotate(-45deg);
        top: 14px;
      }
      
      &.active span{
        display: none;
    }
      /***************************/     
    }

    /* Menu */
    .navigation{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $main-color;
      z-index: 9;
      display: none;

      ul{
        padding-top: 0;

        li{
          padding: 5px 15px;
          text-align: center;
          border: darkgreen 1px solid;

          a{
            color: #FFF;
            font-size: 16px;
          }   
        }
      }

      .top-menu{
        display: block;
      }
    }   
  }
}

.header_drop-opener{
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;

}

.header{
  position: relative;
  //padding-top: 15px;

  @media(max-width: desktop-df){
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
  }

  &_container{
    @extend .flex_container;
    display: flex;
    justify-content: space-between;

    .logo{
      margin-top: 25px;
    }
  }

  &-content{
    display: flex;
    align-items: center;
  
  }

  

  &_help{
    margin-right: 35px;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto, Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #263238;
    line-height: 24px;
    margin-left: -300px;

    .text--red{
      color: $red;
    }
  }

  &_tools{
    display: flex;
    align-items: center;
    margin: -60px 8px 10px 8px;
    z-index: 2;

    @media(max-width: $desktop-df){
      margin: 0;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $white;
      border-width: 0 1px 1px;
      border: solid #dcdcdc;
    }

    &-total{
      padding-left: 29px;
      padding-right: 41px;
      padding-top: 17px;
      display: flex;
      justify-content: space-between;

      &-style{
        font-size: 16px;
        font-weight: bold;
        color: #263238;
      }
    }

    &-item{
      padding: 30px 8px;
      position: relative;

      @media(max-width: $desktop-df){
        transition: background-color .3s ease;
        background-color: $main-color;
        padding: 0;
      }

      &:not(:last-of-type){
        border-bottom: 1px solid #fff;
      }

      &.drop-opened{
        background-color: darken($main-color, 20%);
      }

      &--logout{
        margin-left: 27px;

        @media(max-width: $desktop-df){
          margin: 0;

          .btn--warn{
            background-color: transparent;
            font-size: 16px;
            padding: 0;
            height: 46px;
            margin: 0 auto;
            font-weight: 500;
          }
        }
      }

      &:hover{

        .header_tools{
          
          &-drop{
          visibility: visible;
          opacity: 1;
        } 
       }  
     }
    }

    &-list-user{
      background-color:$white;
      height: 320px;
      width: 160px;
      margin-top: 10px;
      border-top: 1px solid $grey;

      @media(max-width:1023px){
        width: 50%;
        margin-left: 260px;
      }

      @media(max-width:767px){
        width: 50%;
        margin-left: 200px;
      }
    }

    &-list-basket{
      background-color: $white;
      height: 300px;
      width: 270px;
      margin-top: 12px;
      margin-left: -220px;

      @media(max-width:1023px){
        width: 50%;
        margin-left: 260px;
      }

      @media(max-width:767px){
        width: 50%;
        margin-left: 200px;
      }

      li{
        align-items: center;
        display: flex;
        //justify-content: space-around;
        border:1px solid #d3d3d3; 
        height: 100px;
      }

    }

      &-list-message{
        background-color: $white;
        height: 282px;
        width: 270px;
        margin-top: 12px;
        margin-left: -220px;

        @media(max-width:1023px){
          width: 50%;
          margin-left: 260px;
        }

        @media(max-width:767px){
          width: 50%;
          margin-left: 200px;
        }

        li{
          align-items: center;
          display: flex;
          justify-content: space-around;
          border:1px solid #d3d3d3; 
          height: 94px;
        }
        .active-icon{
          color:#ef6c00;
        }
        
       i{
        font-size: 20px;
        margin: 0;
        color:#d3d3d3; 
       }
  
      }


      &-list-notifications{
        background-color: $white;
        height: 282px;
        width: 270px;
        margin-top: 12px;
        margin-left: -220px;

        @media(max-width:1023px){
          width: 50%;
          margin-left: 260px;
        }

        @media(max-width:767px){
          width: 50%;
          margin-left: 200px;
        }

        li{
          align-items: center;
          display: flex;
          justify-content: space-around;
          border:1px solid #d3d3d3; 
          height: 94px;
        }
        .active-icon{
          color:#ef6c00;
        }

        
       i{
        font-size: 20px;
        margin: 0;
        color:#d3d3d3; 
       }
  
      }

      

      &-user-menu{
        margin: 23px 15px;
        font-family: $f-family-base;
        font-size: 12px;
        font-weight: 500;
        color:#538ca8;
        position: relative;
        padding-left: 20px;
        
        &:before {
          content: '\f105';
          font-family: 'FontAwesome';
          position: absolute;
          font-weight: 500;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          color: $main-color;
        }

    }

    &-round{
      width: 34px;
      height: 34px;
      background-color: #f5f5f5;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      color: #707070;
      line-height: 1;
      font-size: 16px;

      @media(max-width: $desktop-df){
        border-radius: 0;
        padding: 15px 10px;
        color: $white;
        font-weight: 500;
        height: auto;
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;

        i{
          display: none;
        }
      }
    }

    &-category{

      @media(min-width: $desktop){
        display: none;
      }
    }

    &-count{
      position: absolute;
      top: -8px;
      right: -8px;
      color: $white;
      border-radius: 50%;
      font-size: 11px;
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;

      @media(max-width: $desktop-df){
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        border: 1px solid $white;
      }
    }

  &-drop{
    transition: opacity .3s ease, visibility .3s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;

    @media(max-width: $desktop-df){
      display: none;
      visibility: visible;
      opacity: 1;
      position: static;
      background-color: #f5f5f5;
    }
  }

  &-list-notifications{
    background-color: $white;
    height: 282px;
    width: 270px;

    li{
      align-items: center;
      display: flex;
      justify-content: space-around;
      border:1px solid #d3d3d3; 
      height: 94px;
    }
  }

  }

  &_user{

    &-opener{
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 25px;


      &:after{
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 18px;
        color: #707070;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
      }

      @media(max-width: $desktop-df){
        justify-content: center;
        padding: 5px 10px;
        margin: 0 auto;

        &:after{
          display: none;
        }
      }
    }

    &-icon_square{
      width: 73px;
      height: 57px;
      overflow: hidden;
      margin-right: 15px;
      margin-left: 22px;
      text-align: center;
      background-color: $grey;
    }

    &-icon{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
      text-align: center;
      background-color: $grey;
    }



    &-info{
      text-align: left;
    }

    &-name{
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 8px;

      @media(max-width: $desktop-df){
        font-size: 16px;
        margin-bottom: 0;
        color: $white;
      }
    }

    &-name_goods{
      font-size: 15px;
      font-weight: 500;
    }

    &-money{
      padding-bottom:5px; 
      color: $main-color;
      font-weight: bold;
      font-size: 14px;
      line-height: 1;

      @media(max-width: $desktop-df){
        display: none;
      }
    }

    &-money_goods{
      font-size: 12px;
      font-weight: normal;
    }

    &-date{
      font-family: $f-family-base;
      font-size: 13px;
      color:#838383;
      line-height: 1;

    }

    &-date_goods{
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }

  }
}

.basket_btns{
  padding: 15px 17px 0 17px;

  .btn_basket{
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    color: #f4f6f5;
    height: 35px;

  }
  .btn_basket--main{
    background-color: $main-color;
    padding-left: 18px;
    padding-right: 23px;
  }
  .btn_basket--warn{
    background-color: #e85647;
    padding-left: 12px;
    padding-right: 14px;
  }
}