
.product{

    &_card{
        box-shadow: 1px 1px 2px rgba(205, 214, 222, 0.75);
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        // &-img{
        // min-width: 270px; - мешает в home
        // }
       
        &-main{
            flex-grow: 1;
            //padding: 20px;
            // border: 1px solid $black;
            //min-width: 270px; - мешает в home
        }

        // &-footer{
        //     // background-color: navy;
        //     //padding: 10px;
        // }
    }
}

.content{ 
    // padding-left: 30px;
    margin-right: -30px;
}