.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
  &_flexfix {
    display: flex;
  }
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.main {
	flex-grow: 1;
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;


  >li{
    padding-left: 20px;
    position: relative;

    &:before{
      content: '\f105';
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $main-color;
    }
  }
}
/*why choose*/

.wrapper {
    width: 100%;
    align-items: center;
}

.why-choose-container {
    background: #263238;
    color: $white;
    height: 618px;
    padding: 92px 0 114px;
}

.white_title-text {
    font-size: 36px;
    font-family: $f-family-base;
    color: $white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 86px;
}


.why-choose-col {
    padding: 0 42px;
    text-align: center;
  
    
   

    h3 a {
    font-size: 24px;
    color: $white;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    font-family: $f-family-base;
  }

    p {
    color: #b0bec5;
    margin: 0 0 20px 0;
    font-size: 15px;
    font-family: $f-family-base;
    line-height: 24px;
  }
}
 .link_icon {
    margin-bottom: 14px;
    background: #d4d4d4;
    color: $white;
    font-size: 56px;
    height: 114px;
    width: 114px;
    line-height: 114px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-flex;
    /*border: 2px solid $main-color;*/
  
 }
/*why choose*/

