body{
  font-family: $f-family-base;
}

input,
textarea,
select,
button{
  font-family: $f-family-base;
}

.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
  &_flexfix {
    display: flex;
  }
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.main {
	flex-grow: 1;
  width: 100%;
  background-color: $background_color;

  &_holder{
    display: flex;
  }
}

 .container{
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 0;
   margin-bottom: 0;
   display: flex;
 }

a {
  color: $black;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

h2{
  font-family: $f-family-base;
  font-size: 36px;
  font-weight: 700;
  color: $product-name_color;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 60px; //- добавил, так как везде по h2 padding-bottom: 60px
  margin: 0;
}


@media (max-width: 479px){

  h2{
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

//Не удалять этот блок
.navigation{

  a {
    color:$white;
    text-decoration: none;
    transition: all 0.3s linear 0s;
  
  
    &:hover {           /* меньше кода если прописать hover в "а"*/
      color:$main-color;
    }
  }
}

.text--top{
  font-family: $f-family-base;
  font-size: 15px;
  font-weight: 400;
  color: #263238;
  line-height: 24px;
}

ul{
  margin: 0;
  list-style: none;
}

.btn{
   width: 72px;
   height: 32px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   color: $white;
}

/* Контент  */

// .fix-backgroung_color{
//   background-color: $background_color;
// }

.active{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 12px 23px;
  margin-top: -10px;
  background-color: #e74c3c;
  color: $white;
  box-shadow: 2px 1px 5px rgba(202, 215, 228, .75);
  margin: -12px -23px;
}

.tabs{

  &_tab{

    /* Скрыте блоки до нажатия таба */
     &:not(:first-child){
       display: none;
     }
  }

  &_nav{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
   
    &-item{
      background-color: white;
      color: $product-name_color;
      padding: 12px 23px;
      margin: 5px 3px ;
    }

    &-link{
      font-family: $f-family-base;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

/* Серая полоса с поиском */
.header_search{
  background-image: url(/images/banner_image.jpg);
  background-color: $grey;
  height: 532px;

  .text_on_header{
    font-family: $f-family-base;
    font-size: 48px;
    font-weight: 700;
    color: #263238;
    line-height: 40px;
    color: $white;
    padding-bottom: 35px;
    padding-top: 156px;
  }
  
  .text--top{
    color: $white;
    font-size: 20px;
  }
  
  .area_header_search{
  text-align: center;
  width: 100%;
  
    .search_box{
    position: relative;
    padding-top: 50px;      
    width:100%; 
    justify-content: center;
    align-items: center;
    display: flex;
      
      .lupa{
        position: absolute;
        color: #78909c;
        padding-right: 20px;
        padding-left: 630px;
      }

      @media (max-width: 767px){
        .lupa{
          right: 10;
        }
      }

        @media (max-width: 479px){
          .lupa{
            right: 0;
          }
      }
      
      #search{
        background: $white;
        height: 56px;
        border:none;
        width: 100%;
        max-width: 670px;
        padding-left: 22px;
        box-shadow: 1px 1px 10px rgba(139, 195, 74, .75);
        
        #search::placeholder{
          font-size: $f-size-base;
          font-family: $f-family-base;
          font-weight: 700;
        }
      }
    } 
  }

  @media (max-width: 479px){

    .text_on_header{
      
      padding-top: 126px;
    }
  }
}

/* Product card */

.product{

  &_card{
    margin-right: 15px;
    margin-left: 15PX;
    margin-bottom: 30px;
    position: relative;
    background-color: $white;
    
    &:hover { // hover по макету. В home 3я карточка в hovere
      box-shadow: -1px 16px 26px -1px rgba(205, 214, 222, 0.75);
      transition: box-shadow .7s;
    }

    /* Before footer of product */
    &-img{
      display:block;
      width: 100%; 

      img {  
        width: 100%;
      }
    }

    &-content {
      padding: 30px 30px 18px;
    }

    &-info{
      display: flex;
      border-bottom: 1px solid #e7ecf2;
      padding: 30px 30px 18px; 
      justify-content: space-between;
    }

    &-heading{
      font-family: $f-family-base;
      font-size: 18px;
      font-weight: 500;
      color: $product-name_color;
    }

    &-type{
      font-family: $f-family-base;
      font-size: $f-size-base;
      font-weight: 500;
      color: $main-color;
      padding-top: 16px;
    }

    &-footer{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 18px 34px 22px 32px; 
    }

    &-price{
      display: flex;
      align-items: center;
      font-family: $f-family-base;
      font-weight: 700;
      color: $product-name_color;
      font-size: 20px;
    }
  }

  &_label{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 64px;
    height: 64px;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 64px 64px 0 0;
    }
      
    &:after{
      color: $white;
      font-family: "FontAwesome";
    }

    &--hit{

      &::before{
      border-color: $main-color transparent transparent transparent;
      }

      &::after{
        content: '\f0e7 ';
        position: absolute;
        top: 12px;
        left: 15px;
      }
    }
  }

   &_author{
    display: flex;
    flex-wrap: wrap;
  }

  &_author-icon{
    background-color: #b5b5b5;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  &_author-name{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 14px;
    font-family: $f-family-base;
    font-size: $f-size-base;
    font-weight: 500;
    color: #546e7a;
  }
      
  &_rating{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    &-stars{
      display: flex;
      color: $stars_color;
      padding-right: 12px; // уменьшил на -2 так как между звездами padding-right: 2px (ниже)
      padding-left: 6px; // уменьшил до 6 чтобы не падали звезды на первой карте при разрешении 1366 
    
    }
    &-star { //добавил так как заданы растояние и величиы по макету
      padding-right: 2px;
      font-size: 12px;
    }

    &-views{
      //padding-right: 30px;
      font-family: $f-family-base;
      font-weight: 400;
      color: $product-name_color;
    }
  }
}

.tabs_btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: calc(50% - 172px);

  &-all,
  &-popular{
    width: 165px;
    height: 55px;
    background-color: $white;
    border: none;
    margin-right: 12px;
    margin-bottom: 110px; 
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: 1px 0px 3px rgba(204, 216, 228, .75);
  }
}

/*-------------Carousel styles----------*/

.trending-products {
  max-height: 824px;
}

.flex_title-text {
  padding-bottom: 24px;
  padding-top: 94px;
  font-size: 36px;
  font-family: $f-family-base;
  text-align: center;
  font-weight: 700;
}

.carousel{
  
  &:not(:first-child){
    padding-left: 31px;
  }
}

.slick-dots {
  list-style: none;
  padding: 40px 0 120px;
  text-align: center;
  margin: 0;
  }
  
  .slick-dots li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 7px;
  }
  
  .slick-dots li button {
  background-color: #e8e8e8;
  border: 1px solid transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0;
  margin: 0;
  padding: 0;
  color: transparent;
  outline: 0;
  }
  
  .slick-dots li.slick-active button {
  background-color: $main-color;
  border-color: none;
  }


/*-----------------------why choose start-------------*/

.why_choose-wrapper {
    width: 100%;
    align-items: center;
}

.why-choose-container {
    background: #263238;
    color: $white;
    min-height: 618px;
    padding: 0 0 114px;
}

.white_title-text {
    font-size: 36px;
    font-family: $f-family-base;
    text-align: center;
    font-weight: 700;
    padding-bottom: 86px;
    color: $white;
}

.why-choose-col {
    padding: 0 42px;
    text-align: center;
  
    h3 {
    font-size: 24px;
    color: $white;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    font-family: $f-family-base;
  }

    p {
    color: #b0bec5;
    margin: 0 0 20px 0;
    font-size: 15px;
    font-family: $f-family-base;
    line-height: 24px;
  }
}

 .why-chose-icon {
  margin-bottom: 14px;
  background: #d4d4d4;
  color: $white;
  font-size: 56px;
  height: 114px;
  width: 114px;
  line-height: 114px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-flex;
}
/*-----------------------why choose end-------------*/


/* -----------Media quaries styles-----------------------*/ 

@media (max-width: 1023px){

  /*why choose start*/
  .why-choose-container {
    padding: 60px 0 70px;
  }

  .white_title-text {
    font-size: 28px;
    padding-bottom: 34px;
    font-weight: 500;
  }

  .why-choose-col h3 {
    font-size: 20px;
  }
  .why-choose-col p {
    line-height: 20px;
  }
  
/*why choose end*/

/*carousel start*/
  .flex_title-text {
    font-weight: 500;
    font-size: 28px;
    padding: 44px 0 24px;
  }

  .slick-dots {
    padding: 6px 0 50px;
  }

  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}

/*carousel end*/

@media (max-width: 767px){ 

  /*@media why choose start*/

  .why-choose-container {
    padding: 50px 0 60px;
  }

  .white_title-text {
    font-size: 28px;
    padding-bottom: 30px;
    
  }

/*@media why choose end*/

/*@media carousel start*/

  .flex_title-text {
    font-weight: 500;
    font-size: 28px;
    padding: 36px 0 20px;
  }

  .slick-dots {
    padding: 4px 0 34px;
  }

  .slick-dots li button {
    width: 8px;
    height: 8px;
  }
}
/*@media carousel end*/

/*--------- Media quaries styles end -----------*/ 

/*блок "стать автором" кнопкой*/
 
.section_author{
  padding: 15px;
  height: 554px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f4f6f5;
}

.section_author-grey{
  background-color: #b5b5b5;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 440px;
  width: 100%;
  max-width: 1100px;
}

.section_author-green{
  background-color: $main-color;
  max-width: 660px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 220px;
}

.author_text{
  padding-right:20px;
  font-family: $f-family-base;
  font-size: 18px;
  color: $white;
  max-width: 180px;
}

.become_author{
  font-family: $f-family-base;
  font-size: 12px;
  width:150px;
  color:#263238;
  background-color: $white;
  border: none;
  height: 50px;
}

.author_text p{
  margin: 0;
}

/*tutorials*/

.section_free{
  font-family: $f-family-base;
  color: $black;
  font-weight: 600;
  padding-bottom: 100px;
}

.free_text{
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 22px;
}

.tutorials{
  justify-content: space-around;
}

.tutorial{
  background-color: #d4d4d4;
  max-width: 375px;
  height: 275px;
  display: block;
  margin: 0 18px;
}

.tutorial_info{
  font-size: 14px;
  max-width: 375px;
  height: 50px;
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 15px;
  margin: 0 18px;
}

.info_text{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

@media (max-width:767px) {

.section_author{
  height:300px;
}

.section_author-grey{
  max-width: 300px;
  height: 150px;
}

.section_author-green{
  max-width: 200px;
  height:80px;
}

.become_author{
  max-width: 50px;
  font-size: 8px;
  height: 30px;
}

  .author_text{
    font-size: 12px;
  }

  .section_free{
    padding-bottom: 20px;
  }

  .free_text{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:10px;
  }

  .tutorials{
    padding-left: calc(50% - 55px);
  
  .tutorial{
    max-width: 110px;
    height: 75px;
    justify-content: center; 
  }
}

.tutorial_info{
  max-width: 110px;
  height: 25px;
  font-size: 10px;
  padding-top: 5px;
}

.info_text{
  text-align: center;
  padding-top:10px;
  font-size: 10px;
}

.free_text{
  font-size: 12px;
}
  
   .text_on_header{
    font-size: 10px;
  }
}

/* Popup */
.popup{
  display:flex;
  justify-content: center;

  .container_popup{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  &_close{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 28px;
    color:white;
  }

  .window_login_popup{
    position: relative;
    max-width: 730px;
    width: 100%;
    background-color: $main-color;

    .mfp-close{

      &::before{

        content: '\f00d';
        font: 24px 'FontAwesome';
        color:white;
      }
    }

    input{
      border-style: none;
      padding: 15px 0;
      margin: 4px 0;
    }

    .span_in_input{
      position: relative;
      text-align: center;

      input{
      max-width: 400px;
      width: 100%;
      padding-left: 40px;
      background-color: #76ae36;
      }

      input::placeholder{
      font-family: $f-family-base;
      color: white;
      font-weight: 500;
      font-size: 14px;
      }
      
      span{
        position: absolute;
        margin: auto 0;
        margin-top: 15px;
        margin-left: 17px;
        color: white;
      }
    }
  }
}